.ascension-order-info {
  position: relative;
  font-size:1.1em;
}
.ascension-order-details {
  display: none;
}
.ascension-order-details-hover:hover + .ascension-order-details {
  display: block;
  z-index: 20;
  position: absolute;
  left: -200px;
  top:50px;
  background-color: #fff;
  border: 1px solid #EFEFEF;
  padding:20px;
  border-radius: 10px;

}

#ascension-filters {
  label {
    display: inline-block;
    margin-right: 10px;
  }

}

.ascension-report-overview {
  position: relative;
  margin-bottom: 10px;
  .info {
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fefefe;
    margin:10px;
  }
  .totals {
    display: flex;
    margin-bottom: 10px;
    div {
      padding: 10px;
      border: 1px solid #fff;
      background-color: #fefefe;
      margin:10px;
    }
  }
  .blocks {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
iframe[name="printIframe"]{
  display: none;
}
.order-details {
  table-layout: fixed;
}
.order-details tr {
  page-break-inside: always;
  page-break-after: auto;
}

.order-details td,
.order-details th {
  border-bottom: 1px #ccc solid;
  border-top: 1px #ccc solid;
  padding: 0.375em;
}

.order-details th {
  font-weight: bold;
  text-align: left;
}

.order-details thead th {
  color: white;
  background-color: #830051;
  border-color: #830051;
}

/* product bundles compatibility */
.order-details tr.bundled-item td.product {
  padding-left: 5mm;
}

.order-details tr.product-bundle td,
.order-details tr.bundled-item td {
  border: 0;
}

.order-details tr.bundled-item.hidden {
  display: none;
}