table {
  text-align: left;
  border: none;
  margin: 0 0 21px;
  border-collapse: collapse;
  th {
    text-align: left;
    border: 1px solid #eee;
    color: #666;
    padding: .3em 1em;
    max-width: 100%;
    background: #fafafa;
    font-weight: 700;
  }
  td {
    border: 1px solid #eee;

  }
}